[2018-02-14 13:31] adrianhopebailie commented on #380
I interpreted your responses above as "I guess this isn't a good idea". Was I wrong?

[2018-02-14 13:53] adrianhopebailie commented on #352
Based on the discussion around how to encode an Open Type in OER some of this discussion is incorrect.

There IS a length indicator for the packet data after the packet type code. However there is not an ASN.1 extensions indicator in the spec so decoders should NOT expect to find an extension byte.

If a decoder encounters a packet with new fields added then it should ignore those fields and simpl

[2018-02-14 13:56] adrianhopebailie commented on #330
@justmoon can we close this. I think it is mostly irrelevant with ILPv4 albeit an interesting discussion for anyone interested in the design decisions.

[2018-02-14 14:10] michielbdejong commented on #380
Yes, it might be a bit of an advanced topic and not highest priority for mvp, but I think if we would implement this, the advantages would be as described.

[2018-02-14 14:11] #368 closed

[2018-02-14 14:12] michielbdejong commented on #365
I guess they need to be added somewhere in a design choices section?

[2018-02-14 14:46] emschwartz commented on #375
Regardless of what the spec says, I think most implementations of Payment Pointer resolvers are going to intentionally or accidentally support IDNs. For example, @sharafian's [implementation](https://github.com/sharafian/ilp-protocol-spsp/blob/master/index.js#L22-L24) will accept IDNs because the HTTP client library used automatically resolves them.

I think there are issues here that need to be d

[2018-02-14 14:52] earizon commented on #392
Just a "blur thought". Public Key infrastructure is complex and it has never worked properly. The chain of trust is not trustable at all.  I think one important use case of ILP could be to "replace" PKI. The idea is as follow:

Users who want to visit a web site have to pay a minimum quantity (maybe 0.1 cents of dolars) when *login into* the site. The web-site start offering content once they have

[2018-02-14 15:11] emschwartz commented on #388
Implemented a first version of this in: https://github.com/emschwartz/ilp-protocol-paystream

[2018-02-14 15:36] sharafian commented on #354
The connector always rounds in their favor, so losing money wouldn’t be a concern in this scenario. It would just make the path look a little more expensive from the user’s perspective. And because ILP doesn’t go on-ledger anymore, two connectors can always just agree to use a high precision so that their customers don’t get charged for rounding.

[2018-02-14 16:44] adrianhopebailie commented on #354
Correct, but this may only materialize as an issue when the exchange rate on a route changes to exceed some threshold.

i.e. As you update your routing table you may discover a route where this is a problem. I assume you can't dynamically change the precision on one of the accounts on that route? So what should you do?

[2018-02-14 16:58] adrianhopebailie commented on #375
Okay, what would you suggest changes in the spec which already has a pretty comprehensive Security Considerations section: https://interledger.org/rfcs/0026-payment-pointers/#security-considerations

I don't follow what this is suggesting.

Why? Obviously that will be ignored. The spec is for implementors of clients and servers not users.

Why is this in scope of the spec that defines the resoluti

[2018-02-14 19:49] sharafian commented on #354
The only exchange rates you deal with are local ones. You wouldn't discover a problematic route, just a problematic trading pair. Because you're the one who configures these trading pairs, it's just part of your responsibility as a connector to keep the scales about right. Because the scales go by factors of 10 this is an easy target to hit.

If you're exchanging BTC against USD you probably want

[2018-02-14 20:02] sharafian commented on #375
I don't think this is a very helpful thing to mandate in the specification if it doesn't give a specific way to implement it.

When you're sending money to someone you don't yet know, I personally agree with Enrique's sentiment here: https://github.com/interledger/rfcs/issues/392#issuecomment-365630717 . PKI schemes just get compromised and/or ignored by the user. Whenever you can, you should send

[2018-02-15 23:43] adrianhopebailie commented on #388
@emschwartz While you're doing some experiments I would really like to see a test where there is a connector that has a takes a fee/spread in both directions between two nodes doing duplex PSK.

I suspect it would be pretty easy for that connector to manipulate its rates to quickly drain both side's accounts as they pay each other back and forth to try and get their balances correct.

[2018-02-16 00:08] sharafian commented on #388
In any case, the sender must always set the maximum price they're willing to pay. If they theoretically reach that price before the balance stabilizes, they could, in the current implementation, lose that entire amount to fees on the refund path.

If the sender included source amount in their payment, we could theoretically add a tolerance for fees as a parameter. That way the sender determines th

[2018-02-16 00:17] adrianhopebailie commented on #388
My concern here is that we no longer have the same incentives that make ILP robust.

To me duplex PSK only works if its only used by a minority of the network so it's hard for a connector to spot it being used and exploit that.

Connectors that can identify duplex psk and exploit that will be very hard to isolate. They could do it very sporadically and still make a lot of money by running a lot of

[2018-02-16 00:24] emschwartz commented on #388
@adrianhopebailie are you worried specifically about the refund portion of duplex payment streams or just chunked payments in general? Just so you know, refunds will be disabled by default and senders can specify the minimum amount the receiver will accept so they can make payments fail if the exchange rate moves at all or too much.

[2018-02-16 00:43] adrianhopebailie commented on #354
Trading pair just tells you the rate. A route is the rate for two specific accounts (which each have a scale).

However I'd expect most connectors to not "set exchange rates" but rather base their rates of some widely accepted rate plus their fee. As such, these are constantly changing and it should be noted "somewhere" that as they change the scales in use may become problematic and this is somet

[2018-02-16 00:58] adrianhopebailie commented on #375
So are you suggesting it should come out or that we use this simple spec as a means to solve probably the biggest challenge of our time, hardened digital identity.

None of this says anything about what should or could change in the payment pointers spec. These are solutions to the problem that the spec says exists but is out of scope for the spec itself to prescribe a solution.

Now we are just g

[2018-02-16 07:54] michielbdejong opened #395 "ILSP addresses"
Rethinking a conversation with @sappenin yesterday, now that Interledger payments no longer touch the underlying ledgers directly, Alice is no longer sending money "to Bob@Ledger", she is sending it "to Bob@Connector" (and then Bob has a custom settlement/clearing agreement with Connector where "the Ledger" gets involved, but that part is now irrelevant to Alice). So maybe it makes more sense to r

[2018-02-16 08:00] michielbdejong commented on #395
I actually already did this without thinking much about this, on the testnet. In 17Q4, there was a `test.crypto.xrp.<address>` *ledger* prefix. In 18Q1, there is a `test.amundsen.bmp.btp18q1xrp.<paychanId>` *account* prefix! :)

[2018-02-16 10:11] michielbdejong opened #396 "LPI v3"
We now have client plugins and server multi-plugins, and I was about to even create a few additional ones:
* `ilp-plugin-btp` (trust client)
* `ilp-plugin-mini-accounts` (trust server)
* `ilp-plugin-xrp-asym-client` (xrp client)
* `ilp-plugin-xrp-asym-server`(xrp server)
* `ilp-plugin-lnd-asym-client` (lnd client)
* `ilp-plugin-lnd-asym-server` (lnd server)
* (and then two plugins for Stripe, two

[2018-02-16 11:44] adrianhopebailie commented on #388
So having re-read this now with the context of @emschwartz implementation and in light of some of the comments on https://github.com/interledger/rfcs/pull/394 I think I have clearer picture of the problem statement and proposal.

I think, as usual 😄 , we're diving straight into use cases without much architecture or modeling so let me try to restate things as I see them and see if that helps.

Our

[2018-02-16 14:11] emschwartz commented on #388
That is pretty close to what I've implemented so far with two exceptions: the payment ID and setting limits for what you want the balance on the other side to be.

What is the payment ID for? Is that necessary? Is there an advantage to thinking of multiple payments going through a socket as discrete things versus you caring just about what the balance is at the end? (Note that packets will not be

[2018-02-16 14:13] emschwartz commented on #388
Also, in your explanation it seems like the packets sent from Alice to Bob change Bob's local view of the payment parameters, but I don't think that's correct. You can't affect the other party's local values, only inform them of what you're looking for.

[2018-02-16 14:33] emschwartz commented on #396
I agree that having the client and server plugins is a bit strange and leads to some duplicate code. However, unless this is causing substantive problems right now, I would prioritize getting working integrations for the different ledgers we want to connect over doing another internal refactor. It would be fine for us to build the integrations using LPIv2, figure out the over-the-wire protocols fo

[2018-02-16 14:45] dappelt commented on #375
@adrianhopebailie There is some confusion about the threat we are discussing. Let me restate it: An attacker creates a payment pointer that is visually indistinguishable from a payment pointer the victim **has already trust in**. By impersonating the owner of the payment pointer, the attacker tricks the victim to pay the look-a-like payment pointer, which resolves to the attacker's SPSP endpoint.

[2018-02-16 15:00] michielbdejong commented on #396
This work would be part of that.

[2018-02-16 15:26] emschwartz commented on #388
Some thoughts and open questions on the over-the-wire protocol:

## Protocol

### Connection establishment (client to server):
| Field | Type | Description |
|---|---|---|
| `destinationAccount` | ILP Address | Client socket address |
| `sharedSecret`? | Var Octet String | Client socket shared secret (unless they use the same secret in both directions: https://github.com/emschwartz/ilp-protocol-pa

[2018-02-16 17:10] sharafian commented on #396
The asym-server, asym-client, and symmetric cases all represent different trust models so I think it makes sense that they would be different modules. We have shared code between them in ilp-plugin-xrp-paychan-shared, so I think if we want to do refactoring to make them simpler then that's where the shared code should go.

[2018-02-16 17:12] sharafian commented on #395
:+1: The connector also takes an ILP address in its configuration now rather than having an ILP address for every ledger that it's on. I don't think we should change ILP address to ILSP address, though; the name just means they're the addresses used in ILP, not that they denote a ledger.

[2018-02-17 18:41] emschwartz commented on #395
There are a couple reasons I don't find it all that surprising that ILP addresses are primarily for connectors rather than ledgers:
1. Connectors are the party that actually speak ILP, so it makes sense that they are the main actors in the Interledger system
2. A confusing part about ILP addresses previously was how to deal with connectors that have accounts on multiple currencies: would they have

[2018-02-18 05:23] felixvf commented on #385
@sharafian But how is the scale specified?

When paying an exact Ether sum, 4 packets with different scales may be needed, agreed. But how would these 4 packets with different scales look like?
Is there any standard on specifying the scale?

When "3" units are sent to [g.crypto.ethereum.0x20f5beb5c3858433633f53f8e08c5da19d17516e](https://github.com/interledgerjs/ilp-plugin-ethereum/blob/3faf59e242

[2018-02-19 20:35] sharafian commented on #385
I think we have a misunderstanding around ILP addresses, which is understandable given how we used to give example ILP addresses vs. how we now give them.

On ILPv1, the prefix of a ledger (i.e. `g.crypto.ethereum.`) would be chosen when you implement a plugin. When you implement a plugin you also would choose the scale that it uses. If someone implements a different plugin they would need to eith

[2018-02-20 00:06] adrianhopebailie commented on #375
This is a mistake. A user shouldn't **ever** have trust in a payment pointer.

That is why I don't think you can compare payment pointers to phishing attacks.

A payment pointer is just a way to discover an endpoint and only after doing this should the sender attempt to validate that the **endpoint** is the one they expect (no matter what the payment pointer says). i.e. They should only pay a rece

[2018-02-20 14:52] emschwartz commented on #375
That doesn't seem very realistic to me. If you tell me your Payment Pointer is `$adrian.hopebailie.com` and I want to send you money for the first time, what could I use aside from your word to tell if I'm sending money to the right place?

If someone is intentionally trying to steal money, they'll make the data that comes back from the fake pointer exactly the same as what comes back from the rea

[2018-02-20 16:42] adrianhopebailie commented on #375
An assurance from the setup protocol that I am speaking to the correct endpoint.

Which is why I keep saying we need a way to have a challenge or something in SPSP so that there is a second factor the sender can use to ensure the receiver is not being spoofed. This can't be fixed in Payment Pointers, they are static and simply resolve to a URL. It can be fixed in SPSP which is a dynamic so the int

[2018-02-20 17:49] sharafian commented on #375
@adrianhopebailie: That puts a massive dependency on SPSP as it requires it to pull in some kind of identity system that ties the endpoint to real world identities. This isn't even a solved problem, except when you have a central database like a social media site.

If the channel through which the payment pointer is transmitted is responsible for identity (i.e. facebook messenger) then we know tha

[2018-02-20 18:52] adrianhopebailie commented on #375
Yes. That is where the validation should happen not during the resolution of the endpoint from the payment pointer.

Not necessarily. Most attacks can be thwarted simply by proving the SPSP response is not a replay (i.e. copied from the legitimate SPSP endpoint)

Sure but that is a very different situation to the one @dappelt and @emschwartz are talking about. If the pointer is delivered over a se

[2018-02-20 21:09] sharafian commented on #375
How do you authenticate that without having an identity system in place, or some kind of PKI?

[2018-02-21 11:29] adrianhopebailie commented on #375
Firstly, "some kind of PKI" is not real-world identities. Binding an digital identity to a real-person is a very different and very difficult thing to do.

Once you have a public key you are happy belongs to me you can visit any SPSP endpoint claiming to be me and verify it does indeed belong to me. I persuaded you once to make the association in your own wallet that that public key is mine. That

[2018-02-21 14:08] justmoon commented on #395
The old view also created somewhat of a routing issue. If I'm using the address `test.crypto.xrp`, I've told you I want to go to XRP, but there may be different competing XRP integrations (using different plugins), so who actually "owns" `test.crypto.xrp`? You'd have to have a standards effort that defines exactly what a `test.crypto.xrp` integration must look like to be "compliant". And then you

[2018-02-21 14:14] justmoon commented on #395
Should add that I totally get where you're coming from. If the first thing we told you about ILP is that it's about connecting ledgers, that's still true but probably not how I would explain it today. But I also think that it's healthy to be able to question your assumptions if you have a good reason and I think we have good reasons for these transitions (some of which @emschwartz outlined and I t

[2018-02-21 18:46] emschwartz commented on #388
@justmoon brought up a good question about whether this should be implemented as a protocol on top of PSK2 or if the two should be combined into PSK3.

**Reasons Not to Combine PSK2 and Payment Sockets:**
- A spec and implementation for PSK2 already exists and it's better to keep building on top rather than breaking and refactoring things
- If PSK2 never got used outside of payment sockets, it wou

[2018-02-22 16:52] emschwartz opened #397 "Fix errors related to amounts, balances, and bandwidth"
We need to decide on the error codes that will be returned when a packet exceeds the balance or bandwidth so that the sender can react appropriately.

**Currently Implemented in the Connector**
- [Balance limit exceeded in connector middleware](https://github.com/interledgerjs/ilp-connector/blob/master/src/middlewares/balance.ts#L34): `F00: Bad Request`
- [Maximum packet amount exceeded](https://g

[2018-02-22 17:00] justmoon commented on #397
Nice, thanks for working on this!

Yeah, T04 sounds right.

:+1:

I would have expected T04 here. A throughput limit is more like a liquidity limit to me than a rate limit imo. Throughput and balance limits prevent me from spending too much money. A rate limit prevents me from overloading the connector's CPU/memory/bandwidth.

If anyone disagrees strongly with this I would say another option would

[2018-02-23 22:18] justmoon commented on #340
Apologies for resurrecting a closed ticket, but I don't totally agree with the conclusion here and you referenced this thread, so I figured it would be best to respond here.

----

First, I totally agree about the fact that connectors in ILPv4 have a need to figure out whether their peers do a good job. This requires what you call "test payments". I think in practice this would have to be a combin

[2018-02-24 17:55] pascalav commented on #386
What about `(?=^.{1,1023}$)^(g|private|example|peer|self|test[1-3]?)[.](?:([a-zA-Z0-9_~-]+[.])*|([a-zA-Z0-9_~-]+[.])+[a-zA-Z0-9_~-]+)$` ?

It uses a non-capturing group for the address prefix vs. destination address division part.

Tested successfully at https://regex101.com/r/mLu4RR/1/tests

[2018-02-25 17:04] pascalav opened #404 "Why is the ILP tied to payment applications?"
Hi, this is a question, not an issue. Damn, I got #404 :)

When reading https://github.com/interledger/rfcs/blob/master/0003-interledger-protocol/0003-interledger-protocol.md#ilp-payment-packet-format that holds an `amount` packet field, and "the interledger protocol is the culmination of more than a decade of research in decentralized payment protocols" statement of the same RFC, I understand tha

[2018-02-25 17:58] sharafian commented on #404
Involving complicated logic in a multi-ledger agreement can lead to problems, as can keeping a multi-hop payment in flight for a long time.

Every single peer in the chain you described needs to keep the full amount of the insurance money on hold for as long as it takes for some arbitrator (or oracle, in smart contract terms) to resolve this agreement.

This means that if the exchange rate were to

[2018-02-25 20:41] pascalav commented on #404
Thanks for precise insights and pointers @sharafian, it's much appreciated.
Indeed, most use-cases involve money at some point, so does this insurance example.

I'm closing the thread not to get the queue overly crowded. May anyone reopen for further debate.

[2018-02-25 20:41] #404 closed

[2018-02-26 11:45] michielbdejong commented on #340
Yes! Conclusion: we need test payments. :)

[2018-02-26 16:25] michielbdejong opened #405 "Document Web Monetization and compare to IL-RFC-14"
In https://github.com/sharafian/web-monetization-leaderboard and www.siren.sh, @sharafian is using a protocol that, IIUC, does not use 402 responses with `Pay` headers, and actually allows two flows, one in which payment is required, and one in which payment is optional. We should document the comparison, and decide if we want to document that newer approach (and if we want to support it on the te

[2018-02-26 16:32] sharafian commented on #405
Yeah, http-ilp is desirable for APIs because it charges a fixed price and pays once. The new protocol, which we're calling "Web Monetization" right now, is better for content because the amount paid is entirely up to the user. The longer the user stays on the page, the longer their extension will be sending money to the site, but their extension also has the option to not pay at all. Just like mos

[2018-02-26 16:34] michielbdejong commented on #405
Can you document your Web Monetization proposal somewhere?

[2018-02-27 06:46] michielbdejong commented on #405
Thanks for starting that! Discussion continued there.

[2018-02-27 06:46] #405 closed

[2018-02-27 17:31] dappelt commented on #365
@emschwartz might want to include them in the upcoming blog posts about ILPv4.

[2018-03-02 18:47] #302 closed

[2018-03-15 14:08] adrianhopebailie commented on #301
@sharafian @michielbdejong @sappenin can we revisit this?

BTP 2.0 still has errors that no longer make sense like "Invalid Fulfillment".

[2018-03-15 14:10] adrianhopebailie commented on #397
Is there a good reason to differentiate this from F04?

[2018-03-15 15:32] emschwartz commented on #397
`F04: Insufficient Destination Amount` sounds like it's saying "you sent too little", whereas `F08: Maximum Payment Size Exceeded` is "you sent too much".

[2018-03-15 18:33] adrianhopebailie commented on #397
Ah! Sorry, confusing my F's and T's.

So are we saying exceeding maximum payment size is a permanent error? i.e. F08 as opposed to T04

[2018-03-16 07:59] adrianhopebailie commented on #301
For BTP 2.0 I suggest we modify the codes to:

[code]

If there is a desire to not re-use old codes then perhaps we can use "Pxx" for permanent errors and deprecate all "Fxx" codes?

[2018-03-16 16:14] justmoon opened #409 "RFC-26: Should payment pointers support ILP addresses?"
While reviewing the Web Monetization spec, I noticed that HTTP URLs and email addresses have a really neat property that payment pointers lack: They allow you to skip discovery (DNS).

For instance: I can tell you to go to http://google.com, OR, I can tell you to go to http://216.58.195.78 - Now, why is that useful?

Discovery can be a fairly expensive step, especially with the current payment poi

[2018-03-16 16:54] sharafian commented on #409
One thing about payment pointers is that they're not technically PSK specific. The current SPSP implementation passes `Accept: application/spsp+json` but other protocols could use payment pointers to set up other protocols. Adding ILP Address+Shared Secret to payment pointers directly puts PSK/SPSP as a special case. It would also limit the number of required fields that we could add to SPSP. It m

[2018-03-19 16:42] emschwartz commented on #409
I like this direction of being able to skip the HTTP lookup and making payment pointers useful in contexts like Web Monetization and HTTP headers.

It seems like the main issue is that we don't have a great story yet on protocol identification or version negotiation. `http:` tells you that you should speak HTTP to that endpoint, which assumes a certain transport protocol. We could say that `$` mea

[2018-03-19 16:54] adrianhopebailie commented on #409
While I recognize some of the issues here are valid, I think we're missing the point of payment pointers. They are not the "DNS" of ILP they are the email addresses.

These are intended to be easy to convey, simple identifiers that are re-usable and designed so they are easy to serve as either an individual or a third-party host.

It sounds like what you want is just a new URI scheme, maybe `ilp:`

[2018-03-20 21:03] adrianhopebailie opened #410 "RFC - 15 - peer.config is an invalid address"
According to the ILP Address spec the address `peer.config` is invalid.

Since this address is used in protocols such as ILDCP it's clear that not all implementations are strictly following the ILP Address specification.

The specification should be updated or ILDCP should use a valid address.

This was uncovered in the Quilt implementation when the ILP Address parsing libs were upgraded to strict

[2018-03-20 21:16] emschwartz commented on #410
I think `peer` should be added as a prefix and we should get rid of the number of segment requirement

[2018-03-20 21:20] adrianhopebailie opened #411 "ILP URI Scheme?"
Building on some of the discussion in #409 I propose we register an ILP URI scheme to solve for the use cases described there.

Possible scheme based on the generci syntax in [RFC 3986](https://tools.ietf.org/html/rfc3986):

[code]

Examples:

 - `ilp:g.foo.bar`
 - `ilp:peer.config`
 - `ilp:test.amadeus.bob?psk=65rdfetfd65fhgteslKUHUYrtstGFDtyre`

[2018-03-23 01:48] sappenin commented on #410
It feels weird to get rid of the number-segment rule in RFC-15 because shouldn't there _always_ be a  thing called a "ledger" in any ILP address? For example:

Ledger:`peer.davidadrian.`
Ledger Account: `peer.davidadrian.david`

This is _slightly_ weird in the `peer` case because all accounts on the `peer.davidadrian.` ledger will do the same thing....but it seems like we should maintain the rule

[2018-03-23 01:52] sappenin commented on #411
What would be the difference between `Interactions` field defined in RFC-15 (i.e., the stuff after the`~` character  in the ILP Address) and the `query` and `fragment` fields in an `ilp:` URI?

[2018-03-23 09:08] michielbdejong commented on #411
The `ilp:test.amadeus.bob?psk=65rdfetfd65fhgteslKUHUYrtstGFDtyre` format looks useful! It covers the first two fields from https://github.com/interledger/rfcs/blob/master/0009-simple-payment-setup-protocol/0009-simple-payment-setup-protocol.md#response
Can all the other fields present in there be considered optional, or discovered in other ways?

[2018-03-23 10:26] michielbdejong commented on #294
This issue has become relevant again, since https://github.com/interledger/rfcs/pull/413 currently relies on BTP/2.0 and it would be nice to be able to just use a `wss+btp://` URL instead of a `wss+btp2://` URL.

OTOH, @adrianhopebailie would prefer to also allow loopback servers to speak languages that are not even BTP, so then we might need a versioning scheme outside the `wss+btp://` URLs anywa

[2018-03-23 10:41] adrianhopebailie commented on #294
I would also like us to use the `Sec-WebSocket-Protocol` standard as this makes implementing BTP on top of other WS stacks easier.

Many WS stacks (e.g. Jetty) allow for custom handlers that are invoked by the core stack based on the value of this header. Implementing BTP is a lot easier (and less tightly coupled to the specific stack) if we use sub-protocols.

So a big +1 from me for @dappelt 's

[2018-03-23 20:46] adrianhopebailie commented on #410
I think you are right but in the case of `peer`, that address space is limited to only accounts that can exist between the two peers, so the ledger is implicit/virtual.

So, the question is:

* Should we drop the number of segment requirement OR
* Should we make `peer` an exception to that rule?

[2018-03-23 20:49] adrianhopebailie commented on #411
They have different target consumers. The data in the query and fragment is used by the consumer of the URI and may never be sent in the payment itself whereas the data in the `Interactions` filed is consumed by the receiver.

[2018-03-23 20:50] adrianhopebailie commented on #411
Some use cases don't require all of those fields. Where they are required I'd imagine they would be passed as query string params.

[2018-03-23 21:01] justmoon commented on #410
No. Connectors are perfectly valid addressable entities. And any top-tier connector will have a two segment address. For instance, feel free to ping `g.zero` on livenet which is my connector.

[2018-03-23 22:17] adrianhopebailie commented on #410
An ILP Address must be addressing an account. If your connector has multiple accounts in different currencies what happens if I send a payment to `g.zero`? How do I know which account was credited and therefor the currency and scale of the amount you received?

[2018-04-03 13:09] emschwartz commented on #397
I think all of the issues here have been resolved

[2018-04-03 13:09] #397 closed

[2018-04-03 13:32] emschwartz commented on #395
Can this be closed now?

[2018-04-03 13:35] emschwartz commented on #388
After working on them separately, I think it makes sense to combine the stream idea and PSK. PSK2 doesn't provide enough functionality on its own to be considered a proper layer, and it's much more useful to have a protocol that handles splitting up value into packets automatically.

Implemented in https://github.com/interledger/rfcs/pull/417

[2018-04-03 18:11] michielbdejong commented on #395
Yes! I have some thoughts about how we can explain ILP addresses in the new version of the whitepaper, we can work on that next week! :)

[2018-04-03 18:11] #395 closed

[2018-04-07 10:11] phongtt3 opened #420 "Question about escrow"
i've a consider why in the Differences from Previous Versions of ILP section:
-- Payment Channels, Not On-Ledger Escrow

but in the ilp packet life cycle, step 4:

-- If so, the connector reduces the sender's available balance by the value of the packet.

I thought the process of reduce sender's balance is escrow, and its conflict with not onledger escrow that wrote above.
Am i right? please expla

[2018-04-07 17:59] sharafian commented on #420
A prepare/execute flow is still used, even though on ledger escrow is no longer used.

Basically you have a balance to your peer for a (very small) amount. When your peer sends you a packet, you increase their debt to you. This is analogous to a prepare. If the packet times out, this balance change is cancelled. If the packet is fulfilled, the balance change is executed.

This balance is off-ledge

[2018-04-09 22:31] adrianhopebailie commented on #410
Ping @justmoon @emschwartz
Would be useful to get consensus on this please, so we can unblock https://github.com/hyperledger/quilt/issues/128

Answering my own question above, an ILP Address addresses both connectors and their accounts. Where a payment is addressed to a connector (like `g.zero`) then the account it is delivered into will depend on which peer delivers the payment.

I propose we mod

[2018-04-10 16:57] emschwartz opened #421 "Idea: Non-repudiable payment receipts for chunked payments"
The original idea for the [Interledger Payment Request (IPR)](https://github.com/interledger/rfcs/blob/master/0011-interledger-payment-request/0011-interledger-payment-request.md) (and [this update](https://github.com/interledger/rfcs/pull/415)) was to provide non-repudiable payment receipts that a sender could use to prove that they had paid the receiver. PSK-style payments, including [STREAM](ht

[2018-04-10 16:57] adrianhopebailie commented on #327
No longer applicable with IPRv3 and ILPv4

[2018-04-10 16:57] #327 closed

[2018-04-13 18:52] adrianhopebailie opened #422 "Update ILP Address spec based on discussions at community summit"
Some insights from the community summit that need to be incorporated into the ILP Addresses RFC:

 - No more address prefixes (all nodes have an address)
 - We don't address ledgers (ledgers are not directly part of the network)
 - Routing info is exchanged using ILP packets using the special `peer.route`
 - Packets addressed with `peer.*` are never forwarded (these are bilateral)

NOTE: Some of t

[2018-04-14 14:05] michielbdejong opened #423 "Quarterly Spec Freeze"
Let's discuss what should go into version 2018-Q2 of the ILP stack:

## Bilateral layer
* [x] BTP/2.0
* [x] SNAP
* [x] Mojaloop api

## ILP layer
* [x] ILPv4

## Transport layer
* [x] PSK2
* [ ] STREAM (when can we tag v1.0?)
* [ ] IPRv3

## Setup protocols
* [x] PP/SPSP in { http-ilp, web-monetization, web-payments }
* [ ] bilateral server discovery (like [LSD](https://github.com/interledgerjs/il

[2018-04-14 15:03] michielbdejong commented on #423
Should all BTP messages be wrapped in fake payments? Because right now, Routing updates and IL-DCP are, but paychan claim updates are not.

[2018-04-14 16:31] michielbdejong commented on #423
See also https://github.com/interledgerjs/ilp-plugin-xrp-asym-server/issues/10 and https://github.com/interledger/interledger/wiki/18Q1

[2018-04-14 22:25] michielbdejong commented on #423
to do for the 18Q2 tag:
* [ ] spec up SNAP
* [ ] update http-ilp to use payment pointer method
* [ ] spec up IL-DCP
* [ ] update C2C spec to describe new Routing
* [ ] go through all RFCs and check for deprecated statements
* [ ] put the full 18Q2 tag description on the wiki

[2018-05-05 04:18] sappenin commented on #410
+1 to your modification.

[2018-05-06 23:02] justmoon commented on #410
:+1: on @adrianhopebailie 's modification.

I'd propose a slightly different conceptualization: I don't think ILP addresses ever address an account.

Interledger is a graph. Nodes (connectors, mini-connectors, clients, senders, receivers, listeners, etc.) are the vertices and accounts are the edges.

ILP addresses are identifiers and locators for ILP **nodes**. A fulfilled ILP packet will modify t

[2018-05-07 09:17] adrianhopebailie commented on #410
@justmoon can you expand on this a little?

True, but the reality is that if a node is peered with multiple others then the account that is impacted by an incoming payment is the account held with the peer that forwards the payment.

E.g. A node is addressed as `g.bob` and is peered with `g.chloe` and settlement occurs in XRP but is also peered with `g.chris` and settlement occurs in BTC. `g.fred`

[2018-05-07 14:08] adrianhopebailie commented on #422
Addressed in #426

[2018-05-07 14:11] adrianhopebailie commented on #411
Also note the proposal for a `payto:` scheme at IETF: https://mailarchive.ietf.org/arch/msg/uri-review/D_IeQiXnWzT53dCPCh13zXR6LC4/?qid=576708d4d0747a201e1e936787a4a927

[2018-05-08 09:04] #410 closed

[2018-05-08 09:04] #422 closed

[2018-05-09 15:16] adrianhopebailie opened #427 "Update CircleCI config to use v2"

[2018-05-10 15:17] emschwartz commented on #420
Can this issue be closed now?

[2018-05-10 16:47] #388 closed

[2018-05-10 18:34] emschwartz commented on #421
Is anyone interested in collaborating on this? I think this would be neat to build on top of STREAM, and it seems like it would be useful for e-commerce use cases @adrianhopebailie @sappenin

[2018-05-11 01:48] #420 closed

[2018-05-15 07:37] michielbdejong commented on #423
Done https://github.com/interledger/interledger/wiki/amundsen#18q2

[2018-05-15 07:37] #423 closed

[2018-05-17 09:28] adrianhopebailie commented on #421
It would be interesting to explore a standard for using the same key pair to setup the shared key used by STREAM and then also sign the receipts.

I also wonder if we couldn't harden SPSP a little by using certificates so that SPSP responses provide more guarantees about who the receiver is claiming to be or somehow use the same cert from the TLS connection (which smells a bit but maybe it's okay)

[2018-05-17 16:38] #273 closed

[2018-05-17 16:38] #280 closed

[2018-05-17 16:38] #298 closed

[2018-05-17 16:38] #321 closed

[2018-05-17 16:38] #219 closed

[2018-05-17 16:38] #329 closed

[2018-05-17 16:38] #380 closed

[2018-05-17 16:38] #386 closed

[2018-05-17 16:38] #396 closed

[2018-05-17 16:38] #375 closed

[2018-05-17 16:38] #359 closed

[2018-05-17 16:38] #330 closed

[2018-05-17 16:38] #328 closed

[2018-05-17 16:38] #301 closed

[2018-05-17 16:38] #409 closed

[2018-05-17 16:38] #294 closed

[2018-05-17 17:38] #133 closed

[2018-05-17 17:38] #156 closed

[2018-05-17 17:38] #182 closed

[2018-05-17 17:38] #202 closed

[2018-05-17 17:38] #214 closed

[2018-05-17 17:38] #220 closed

[2018-05-17 17:38] #222 closed

[2018-05-17 17:38] #252 closed

[2018-05-17 17:38] #274 closed

[2018-05-18 13:50] adrianhopebailie commented on #381
@michielbdejong I still think it would be valuable to document these and possibly in away that they can be generalized and re-used for other settlement ledgers that use payment channels (if possible):

 - 'channel', 'fund_channel', 'channel_signature' - used in xrp-asym, will reverse-engineer
 - 'claim' (for BTP, this uses a Transfer call instead of a Message call), 'last_claim' - used in xrp-asym

[2018-05-18 14:07] adrianhopebailie opened #431 "Document ILDCP"
Document ILDCP and any other uses of the `peer.config` as implemented in [interledgerjs/ilp-protocol-ildcp](https://github.com/interledgerjs/ilp-protocol-ildcp)

[2018-05-18 14:09] adrianhopebailie opened #432 "Document route broadcasting protocol"
Document the route broadcasting protocol as implemented in [interledgerjs/ilp-connector](https://github.com/interledgerjs/ilp-connector/)

[2018-05-18 14:14] adrianhopebailie opened #433 "Document the ping protocol"
Document the ping protocol as implemented in [interledgerjs/ilp-connector](https://github.com/interledgerjs/ilp-connector/)

[2018-05-18 15:14] dora-gt opened #434 "[Question] Using STREAM to transfer data"
- What is the best case to use STREAM for transferring data?
    - We can transfer data without STREAM because we know the counter endpoint.
    - What is the essential difference between using STREAM and using the other ways for transferring data?

[2018-05-18 16:45] dora-gt opened #435 "[Question] How to compose STREAM packet"
- How to compose STREAM packet.
    - For example, I have (A and B) endpoints on a connection and 2 streams on it.
        - A sends 100 [XRP] to B on a ILP Prepare packet that contains 4 frames.
            - A money frame and a data frame for stream "alpha", share 50%
            - A money frame and a data frame for stream "beta", share 50%
        - B wants to decline "alpha" but wants to accep

[2018-05-18 16:57] emschwartz commented on #435
If the receiver rejects a packet, it rejects all of the frames contained in it.

We could add a recommendation to the spec like [this one](https://quicwg.github.io/base-drafts/draft-ietf-quic-transport.html#rfc.section.7.18) from QUIC:

[2018-05-18 17:07] dora-gt commented on #435
I see.

I'm curious about the succeeding procedure.
A should know...
- alpha was rejected.
- beta was qualified but rejected because of the other stream (alpha).
and resend a packet for beta again somehow.

It may be application layer problem though. The strategy how many frames should be in a ILP packet is difficult.

[2018-05-18 17:12] emschwartz commented on #435
That actually is a transport-layer (or transport implementation) concern. It's definitely one of the trickier parts of this.

The two types of frames that might cause a packet to be rejected are the `StreamMoneyFrame` and `StreamDataFrame`. If the receiver rejects it because of a money frame, they should probably send back a `StreamMaxMoneyFrame` and if it's rejected because of a data frame, they

[2018-05-21 12:59] emschwartz commented on #435
If the receiver doesn't respond with any type of frame, the sender should just resend that one.

The way the implementation handles this is that each side keeps track of the limits of the other side. When one is loading up packets to send, it checks whether each stream has money and/or data to send, and if the other side is willing to receive more, and sends off packets accordingly. Stream Max fra

[2018-05-23 20:31] emschwartz commented on #435
I think the packet should only be rejected if:
- There is money for a stream that exceeds its limit
- There is data for a stream that exceeds its limit
- There is money or data for a stream that is already closed
- The packet contains an invalid frame (I think this should actually cause the connection to close)

If the receiver doesn't want the data for some other reason, that can be handled on th

[2018-05-28 05:01] dora-gt commented on #435
So, what about this case?

- A web application API
  - Accepts `uint` from 0 to 100 that represents an ID
  - Returns some data for the ID
- A user sends a request
  - Contains `uint` of 200
  - Exceeds limit (200 is over 100)

I think this is application layer concern, but this should be rejected and refunded, isn't it?

[2018-05-28 13:43] emschwartz commented on #435
The application would have set the `receiveMax` to 100 units, so any packets that would exceed that limit would be rejected automatically. The sender's STREAM module would know not to send more than that.

[2018-05-30 09:56] dora-gt commented on #435
Ah I see. Maybe this use case is not suitable for STREAM 🤔
If the request consists of multiple input fields, the request cannot be rejected automatically.
Perhaps I should learn STREAM + SPSP, and how they handle the entire business transaction.

[2018-06-13 15:20] #411 closed

[2018-06-15 16:33] #427 closed

[2018-06-18 22:14] emschwartz commented on #434
Sorry for the slow response! That is a very good question and I'm not sure we know the exact answer now.

The most straightforward use case is sending a memo, receipt, or some other information directly related to the payment.

The main reason we put this in was because it seemed like a useful building block to provide to application layer protocol designers. You can use it for really small and si

[2018-06-23 10:27] #421 closed

[2018-07-06 11:11] #435 closed

[2018-07-09 01:39] dora-gt commented on #432
Which is the best file to refer to?

[2018-07-09 01:59] dora-gt commented on #434
Thank you for the response.

I can now imagine that, using STREAM, the payment and data can be easily combined. I think it's easier than the other ways that do it with separated sockets though it is possible.

[2018-07-09 01:59] #434 closed

[2018-07-11 09:16] adrianhopebailie commented on #432
.ts - The .js is auto-generated

[2018-07-11 19:36] karzak commented on #381
I'm planning on documenting the various sub protocols that are currently being used in plugins. I'm not quite sure how to format it, so please take a look at this example at let me know what you were thinking.

Can't upload markdown on github, so you can convert it to .md for pretty formatting.

[0031-btp-sub-protcols.txt](https://github.com/interledger/rfcs/files/2185952/0031-btp-sub-protcols.txt

[2018-07-16 08:29] sublimator opened #440 "notes-on-oer-encoding re: timestamps"
See [timestamp asn definition](https://github.com/interledger/rfcs/blob/master/0030-notes-on-oer-encoding/0030-notes-on-oer-encoding.md#timestamp)

It is said that timestamps are VL encoded with a length determinant prefix, however ILP prepare packets have a fixed length encoding. It's a bit confusing as someone new to ILP trying to make sense of all the different versions/flavors of thereof.

It

[2018-07-16 09:46] adrianhopebailie commented on #440
We defined our own timestamp format so that it can be fixed length.

This is desirable since we have no need for complexities like timezones (everything is UTC) and fixed length fields allow in-place replacement.

Note how the packet headers are ordered so that the fixed length fields are all first?

This means a connector can replace the the `amount` and `expiresAt` (the only headers they should

[2018-07-16 09:47] adrianhopebailie commented on #440
There shouldn't be any references to GeneralizeTime in any of the ASN.1 docs. If there are then that's probably a bug.

[2018-07-16 09:51] sublimator commented on #440
Mutating packets ?

It's a bit confusing with all the different versions/variants :)

[2018-07-25 16:12] kincaidoneil opened #443 "Support for unidirectional peering relationships in asym plugins"
### Rationale

The current asym client/server plugins do not support sending strictly unidirectionally, however, there are use cases where this is either necessary or makes the interaction faster/cheaper:

- The receiver may not have any of the asset in which they're being paid (such as in the case of a decentralized Shapeshift where a user is essentially sending to themselves)
- In the case of cr

[2018-07-26 08:55] fjx2000 opened #444 "Interledger Protocol: Explain Like I'm Five (ELI5)"
# Asset Exchange & Connectors

What's particularly useful "about about" ILP payments......

*Should remove one "about" from the sentence above.*

[2018-08-01 00:23] dora-gt opened #445 "Mismatch between RFC and implementation, BTP"
In the [BTP RFC](https://github.com/interledger/rfcs/blob/master/0023-bilateral-transfer-protocol/0023-bilateral-transfer-protocol.md#overview), the structure of BTP packet is explained as the below.

1. Type ID
2. Request ID
3. Packet Specific Data
4. Sub-Protocol Count
5. Sub-Protocol Data

While the implementation is like the below, not having `packet specific data`. `writeProtocolData` just wr

[2018-08-01 02:52] dora-gt commented on #444
Where is it?

[2018-08-01 05:52] dora-gt commented on #431
I started to write this. If anyone else is also trying to do this, please tell me to avoid writing the same document.

[2018-08-01 09:02] adrianhopebailie commented on #445
I would recommend that the RFC be corrected to reflect reality if the implementation is different.

@sharafian can you provide some insight into which BTP packet types and sub-protocols are now widely used so we can document these. We should avoid documenting stale code that is no longer used.

[2018-08-01 17:14] fjx2000 commented on #444
https://github.com/interledger/rfcs/blob/master/0020-explain-like-im-five/0020-explain-like-im-five.md
(you should be able to find it by searching "about about")

"Asset Exchange & Connectors

What's particularly useful ####about about##### ILP payments, is that the kind of asset being sent doesn't need to be the same kind as the asset that is received. The asset kind may be exchanged a few times

[2018-08-01 17:15] sharafian commented on #445
Currently, the plugin BTP is only making use of `MESSAGE` and `RESPONSE` packets. `MESSAGE` and `RESPONSE` have no packet specific data, which is why it goes straight to sub-protocol count.

[2018-08-02 01:38] dora-gt commented on #444
You can modify files here and make pull-requests.
Interledger is an open community, and I think this kind of problem should be solved easily by such a
 manner.

[2018-08-02 02:56] dora-gt commented on #445
I see. So, maybe RFC is wrong (...or at least misleading). I checked [ASN.1 definition](https://github.com/interledger/rfcs/blob/master/asn1/BilateralTransferProtocol.asn) it reflects what you told. So I suggest amending RFC according to the ASN.1. I'll try.

[2018-08-02 07:09] dora-gt commented on #432
I started to write this.
If anyone else is doing the same thing, please let me know.

[2018-08-02 09:33] adrianhopebailie commented on #443
As discussed on some of the recent community calls and at the summit there is support for this.

A few notes:

This is very similar to how cross-border payments work today. The sender will usually designate who is going to cover the fees (sender, receiver or both). This does beg the question if there needs to be a
way for the receiver to express this to the sender in the setup protocol.

Example:

[2018-08-02 09:59] adrianhopebailie commented on #432
Most of the code is in either:
 - https://github.com/interledgerjs/ilp-connector/tree/master/src/routing , or
 - https://github.com/interledgerjs/ilp-protocol-ccp

@justmoon May have some other suggestions.

[2018-08-03 07:10] dora-gt commented on #432
Thank you for the information. I'm reading the code.
This is a bit complicated than ILDCP, so give me a few days to understand the whole view.

[2018-08-03 11:49] #444 closed

[2018-08-04 16:13] uroshercog opened #449 "cccccchdghkfknlifebbblirticctglfbvnfjccvgfjl"

[2018-08-04 16:13] #449 closed

[2018-08-06 05:12] dora-gt commented on #432
My recognition:

- Routing Table ID
  - UUID that is reset everytime the connector starts up
  - If the UUID is changed, the epoch for the table is reset to `0`
- Epoch
  - How many times the routing table is modified since routing table ID is set.

[2018-08-06 09:25] dora-gt commented on #432
I'm writing [here](https://github.com/dora-gt/rfcs/blob/feature/dora-gt/route-broadcasting-protocol/0000-route-broadcasting-protocol/0000-route-broadcasting-protocol.md), though it is WIP.

[2018-08-07 02:30] dora-gt opened #450 ""Segment" should be explained before it is used: ILP Addresses - v2.0.0"
The word `segment` is used before it is explained.
So it is better to describe what `segment` is in advance.

https://github.com/interledger/rfcs/blob/master/0015-ilp-addresses/0015-ilp-addresses.md

I'll send PR later.

[2018-08-11 23:47] davidgilbertson opened #452 "Dead links on the website"
Some links work when clicked on GitHub, but not on the website.

For example, in the file https://github.com/interledger/rfcs/blob/master/0027-interledger-protocol-4/0027-interledger-protocol-4.md there is a link to "Interledger Architecture overview" with the URL "../0001-interledger-architecture/0001-interledger-architecture.md#interledger-protocol-suite".

On [that page on the website](https://

[2018-08-14 05:49] adrianhopebailie commented on #452
These should be caught by the following lines in the publish script:
https://github.com/interledger/rfcs/blob/master/scripts/generate_web.js#L33-L39

Looks like it's not matching all cases (for example, when there is a URL fragment).

[2018-08-14 09:25] davidgilbertson commented on #452
Right, it's that `$` that's the problem (since it only matches when the string _ends_ in `.md`).

This:
[code]
would do this::
[code]

But I'm not sure if there was some other case being allowed for.

Let me know if you'd like a PR.

[2018-08-14 15:10] adrianhopebailie commented on #452
Fixed in #458
If you wanna review that I'll merge it

[2018-08-15 21:49] #452 closed

[2018-08-18 23:06] sappenin opened #464 "InterledgerAddress: Clarify if AllocationScheme is a valid ILP Address"
Bullet-point 4 of [Address Requirements](https://github.com/interledger/rfcs/blob/master/0015-ilp-addresses/0015-ilp-addresses.md#address-requirements) in RFC-15 says, "Addresses...MUST contain at least one segment after the allocation scheme prefix."

While this doesn't seem incorrect, it does present problems when trying to model an `InterledgerAddress`. For example, in Java, an `InterledgerAddr

[2018-08-22 18:30] emschwartz opened #466 "Update HTTP-ILP"
The HTTP-ILP spec is out of date and still references PSK2. It should be updated to STREAM

[2018-08-27 01:26] dora-gt commented on #431
@adrianhopebailie We can probably close this issue, since #446 is closed.

[2018-08-27 01:26] dora-gt commented on #433
I'll do this next.

[2018-08-27 06:37] dora-gt commented on #433
I could almost understand by reading `echo.ts`, but I could not find the module that actually sends requests.
Is this used from somewhere?
Could you give me some references that send requests?

[2018-08-27 10:32] dora-gt commented on #433
I found that `moneyd-gui` used it. So I'll look into it.

[2018-08-27 18:02] adrianhopebailie commented on #445
@earizon the protocols operate at different layers of the stack. An ILP error should not be carried in a BTP error.

[2018-08-27 18:29] adrianhopebailie commented on #431
Fixed in 04ddfef

[2018-08-27 18:29] #431 closed

[2018-08-28 07:46] earizon commented on #445
@adrianhopebailie It's weird because the BTP errors can be mostly mapped to ILPv4 errors.

T00 UnreachebleError can be mapped to T01 Peer Unreachable
F01 InvalidFiledsError can be mapped to F00 Bad Request
F03 TransferNotFoundError can be mapped to F06 Unexpected Payment
F08 InsufficientBalanceError can be mapped to F04 Insufficient Liquidity

F00 NotAcceptedError, F04InvalidFulfillmentError, F06

[2018-08-28 09:32] dora-gt commented on #445
hmmm, BTP probably should not know about its sub-protocols.
If we add BTP error codes for sub-protocols that are added, it breaks the **open/closed principle**.
This is just my own opinion.

[2018-08-28 10:02] dora-gt commented on #445
hmmm, BTP probably should not know about its sub-protocols.
If we add BTP error codes for sub-protocols that are added, it breaks the **open/closed principle**.
So I would suggest either:
1. A BTP error is just for a BTP layer error (link layer error)
   - A BTP packet will not be an error even if sub-protocols contain errors
2. A BTP error is a general sign of a BTP layer error or that sub-protoc

[2018-08-28 12:57] emschwartz commented on #445
I think the reason BTP seems so weird is that about 90% of its purpose was changed between BTP 1.0 and BTP 2.0 (which accompanied the switch from ILPv1 to ILPv4). Originally, the link layer was expected to do a lot more -- it had the transfer object, which included the amount, condition, expiry, etc and so it also needed more in the way of error messages. However, when the amount and condition and

[2018-08-31 14:52] tnir opened #473 "Explicit LICENSE notice for this interledger/rfcs"
Explicit LICENSE notice for this repo is preferred while [package.json](https://github.com/interledger/rfcs/blob/05ab457b9301b031e1ec954632582a325c4907b4/package.json) is stating about [ISC](https://opensource.org/licenses/ISC).

[2018-09-08 11:09] #443 closed

[2018-09-13 04:03] #450 closed

[2018-09-18 10:14] adrianhopebailie commented on #464
@sappenin and I discussed this on the last Quilt community call.

Here's the summary (@sappenin , correct me if I'm wrong):

There are two distinct things that need to be modelled, an Interledger Address and an Interledger Address-space. i.e. An address points to an entity on the network whereas an address-space encompasses multiple addresses on the network.

This is somewhat analogous to the a su

[2018-09-18 10:14] #464 closed

[2018-09-28 14:50] sappenin opened #480 "Update IL-RFC-30 discussion of timestamps and GeneralizedTime wrt ILP and BTP"
This [ASN.1 definition for BTP](https://github.com/interledger/rfcs/blob/master/asn1/BilateralTransferProtocol.asn#L58) specifies `GeneralizedTime` as the type for `Error.triggeredAt` and `Prepare.expiresAt`.

However, per [this comment](https://github.com/interledger/rfcs/issues/440#issuecomment-405197100) from @adrianhopebailie, no ASN.1 definitions should reference `GeneralizedTime`, but should

[2018-09-28 14:51] sappenin commented on #440
@adrianhopebailie I opened https://github.com/interledger/rfcs/issues/480 on this topic. Let me know if I'm on the right track?

[2018-09-28 17:05] emschwartz commented on #480
Actually BTP does use Generalized Time rather than Interledger timestamps: https://github.com/interledgerjs/btp-packet/blob/master/index.js#L26-L27

[2018-09-28 18:58] sappenin commented on #480
Ah, yes, you're right.

So, it seems like Interledger packets use [Interledger timestamps](https://github.com/interledgerjs/ilp-packet/blob/master/index.ts#L3) but BTP is using the special variant of GeneralizedTime (per you [link](https://github.com/interledgerjs/btp-packet/blob/master/index.js#L26-L27) above).

So, I suppose [IL-RFC-30](https://github.com/interledgerjs/btp-packet/blob/master/ind

[2018-09-28 19:50] #466 closed

[2018-09-29 19:36] sappenin opened #481 "BTP GeneralizedTime's Leap-second should be "smeared""
In [IL-RFC-30](https://github.com/interledger/rfcs/blob/master/0030-notes-on-oer-encoding/0030-notes-on-oer-encoding.md#encoding), the spec mandates that the String value of a leap-second date should BTP-encode to a String that matches its ISO-8601 counterpart (i.e., keep the leap second in each String), like this:

`2016-12-31T23.59.60.852Z` -> `20161231235960.852Z` (leap second)

However, I sugg

[2018-10-01 06:53] tnir commented on #473
@emschwartz I'd like to know license of this repo. Any idea?

[2018-10-01 11:12] adrianhopebailie commented on #473
@tnir - the community operates under the auspices of a W3C Community Group therefor all output is governed by that process: https://www.w3.org/community/about/agreements/summary/

That said, the IL-RFCs should have an explicit copyright license and we have discussed this in the past but not made a final decision.

I think we SHOULD use the CC-BY-SA license but I'd also not be against a simple CC-0

[2018-10-01 13:34] adrianhopebailie commented on #481
Makes sense to me.

@justmoon @emschwartz WDYT? If I recall correctly the choice to use ISO-8601 was to explicitly support leap seconds however I'm not sure if we checked at that time if any OS parsers actually support leap seconds when parsing ISO 8601 format strings like those shown in the examples.

As a side note, I think that section of the IL RFC 30 is out of date as ILP packets no longer us

[2018-10-01 14:11] adrianhopebailie commented on #480
Yes. It needs to be updated.

Sorry, I meant for ILP. The rationale for the switch was fixed size which is probably less relevant for BTP

[2018-10-05 03:15] sappenin commented on #480
Makes sense - so I think the ASN definition is correct, but IL-RFC-30 needs to be cleaned up. Should I create a separate ticket and close this one?

[2018-10-05 20:42] mDuo13 commented on #473
I'm in favor of using CC-BY-SA.

[2018-10-06 20:08] sappenin commented on #432
pinging the to keep the issue open - we should document this protocol.

[2018-10-06 20:08] sappenin commented on #432
This is currently being worked on here: https://github.com/interledger/rfcs/pull/455

[2018-10-06 20:09] sappenin commented on #433
This protocol is in-used in the JS Connector - we should keep this issue open, or else overtly indicate that the ping protocol should not be spec'd.

[2018-10-06 20:17] sappenin commented on #473
If we use [CC-BY-SA](https://creativecommons.org/licenses/by-sa/4.0/), what do we need to do in these repos? Put the badge in each RFC? And in the project's README?

[2018-10-06 23:53] tnir commented on #473
Thanks all. My original point was (at least) to put [this license file](https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt) as `LICENSE` (or `LICENSE.txt`) under the root of this repo in order to get users informed.

See also https://choosealicense.com/licenses/cc-by-sa-4.0/

[2018-10-08 09:03] adrianhopebailie commented on #480
Let's just track it here for context.

[2018-10-08 23:25] adrianhopebailie opened #484 "PROPOSAL: BTP v3"
## Motivation:

BTP has served us well for some time but it's carrying some legacy and short of a few features that would make it more useful.

The reference implementations are mature and work well but implementing BTP in other languages has proven painful.

There are a number of features of WebSockets that we have re-implemented in the BTP layer and others we have not used which make using exist

[2018-10-08 23:35] adrianhopebailie commented on #484
cc @sharafian @emschwartz @justmoon @michielbdejong @sentientwaffle @d1no007 @austin-king @kincaidoneil @karzak

[2018-10-10 14:06] michielbdejong commented on #484
I agree BTP has become a bit ugly, because in its current version it refers to "transfers" that affect a "balance", but it doesn't specify how. It also doesn't specify what to do in case of disputes, e.g. when no response arrives (transfers are explicitly not idempotent according to the current RFC, so resending is not an option), or in case of a timing dispute. The combination of "ILP over BTP" m

[2018-10-10 16:38] adrianhopebailie commented on #484
@michielbdejong and @sentientwaffle

Fair comment. Any suggestions? This is starting to feel a bit like gRPC over WebSockets.

I think this proposal does a better job than before on this but doesn't attempt to infer any ILP semantics like 'PROPOSE' and 'ACCEPT' at this layer. As you suggest above, this layer of the protocol stack is about adding request/response semantics to a bidirectional messag

[2018-10-10 17:41] sharafian commented on #484
I agree with @michielbdejong that BTP isn't really an appropriate name anymore: Could we call this something other than BTP and release it as a separate plugin? That way we don't need to go through the headache of updating everywhere and requiring compatibility, we can just write new plugins using this new protocol or create an alternate version of existing plugins using the new protocol. If it pr

[2018-10-10 20:42] adrianhopebailie commented on #484
An observation from the Quilt community call where I discussed this at length with @sappenin:

This protocol (and current BTP) are effectively adding two features to an existing duplex message stream. (Note: WebSockets are a **message** stream not a byte stream as it defines a message framing protocol)

1. Request/Response correlation
2. Sub-protocol multiplexing

So we have a stack that looks lik

[2018-10-10 22:11] justmoon commented on #481
@sappenin Makes sense to me, this was an oversight on my part. Thanks for noticing and the quality research.

[2018-10-14 22:38] sappenin commented on #484
Another simplification of the overall stack that I think we should explore would be to drop sub-protocols altogether at the BTP layer, and rely upon the ILP packet's data-payload for bilateral sub-protocol communications instead.

For example, [Route Broadcasting Protocol](https://github.com/interledger/rfcs/pull/455) can be used as inspiration here, whereby peer-to-peer routing updates are sent i

[2018-10-18 08:07] 1000i100 opened #486 "Privacy by design -> not a user ? nothing sent to anyone"
Perhaps it's already the behavor, if yes, add it to design goal could be great !

- not a user -> nothing sent to anyone
- not a supported site/webmaster -> nothing sent to anyone

[2018-10-18 18:00] 1000i100 commented on #486
Sure :
I've read this document :
https://github.com/interledger/rfcs/blob/master/0028-web-monetization/0028-web-monetization.md#design-goals

And by reading the goal, it's not clear to me if privacy is thinked from protocol level or left to implementation choices.

For my level of understanding, the web-monetization protocol can work well with privacy, but if the site don't host itself the code to

[2018-10-22 09:33] ekrenzke commented on #486
Hi @1000i100, it's still not _exactly_ clear to me what you are inquiring, but since I have taken an interest in some of the privacy applications of Interledger, I will take a stab at answering, but it will almost certainly include privacy considerations _beyond_ the scope of the web monetization API.

The Interledger protocol stack does not make any privacy guarantees, because it largely operates

[2018-10-23 00:00] sharafian commented on #486
Thanks for explaining, @ekrenzke ! I just want to clarify/correct a few points in that explanation.

-------

An important detail here is that ILP aggregates packets into on-ledger settlements. So just by looking at someone's ILP settlements even on a public ledger, you can't determine the amounts nor destinations of any ILP packet's they've sent. You could only see an aggregate amount and the led

[2018-10-24 19:12] emschwartz commented on #484
I think the only reason we should consider replacing BTP at this point is performance.

If we make another protocol to replace it, all implementations are still going to want to keep compatibility with BTP so it just means one more thing to implement rather than one simpler thing. If we're talking about keeping a protocol over WebSockets, it seems like it'll be a change that adds work for implemen

[2018-10-26 14:46] kincaidoneil opened #487 "Proposal: clean up deprecated repos in Interledger.js"
In light passing the 100 (!) repo milestone in Interledger.js, I think it's time for some house cleaning. The sheer number of repos, many of which are named similarly or duplicate functionality, is fatiguing, and necessitates discovering "what is deprecated?" part of the process of developing on Interledger. We should fix that.

#### I propose, for all the following repos, either moving them to th

[2018-10-26 19:06] emschwartz commented on #487
@justmoon Can you make me an owner and @kincaidoneil a contributor of the interledger-deprecated org? I can move repos over right now but can't add other people so that they'd be able to move them too

[2018-10-27 17:09] sappenin commented on #487
These repos can also be moved (I don't have permission in [interledger-deprecated](https://github.com/interledger-deprecated) either, so I can't do it myself):

- [ ] java-ilp-core
- [ ] java-ilp-client
- [ ] java-ilp-connector
- [ ] java-ilp-plugin
- [ ] java-ilp-client-spring-boot
- [ ] java-ilp-ledger-adaptor-rest-spring
- [ ] java-ilp-ledger-simple

[2018-10-29 11:46] michielbdejong opened #488 "Simplify WebMonetization standard"
The current version of IL-RFC-28 has two disadvantages:
* it requires the inclusion and execution of JavaScript in the page context to use it
* it requires that even if the user does not have a WebMonetization processing browser or browser extension.

For  comparison, the header of my personal blog  now contains  the following three snippets:
[code]

All my blog visitors (not only the ones who wis

[2018-10-29 19:56] emschwartz commented on #487
All of the above (save for those still used or kind of used) moved to interledger-deprecated

[2018-10-29 19:56] #487 closed

[2018-10-30 08:48] adrianhopebailie commented on #484
In that regard, the challenge is not the language but the existing WS libraries that assume sessions are established using auth done during the handshake. The way BTP auths a session is hacky with most existing WS libraries I've tried to use.

I'm less inclined to invent new stuff that has to be implemented by everyone than I might have been when we were still in a more experimental phase of this

[2018-10-30 21:45] sharafian commented on #488
Right now the polyfill requires that a script is included in order to support mobile browsers which don't have any extensions. But if you're ok with only supporting users who have a browser extension, you could do:

[code]

This solution requires no script tags; for a non web-monetized user they'll just run a single if-statement. The reason it works is that the Coil extension sets the `window.WebM

[2018-10-31 09:41] michielbdejong commented on #488
So a  web page with the polyfill on it can detect and receive donations from Coilers even if they use a mobile browser? How does that work?

[2018-10-31 09:48] michielbdejong commented on #488
It could stop doing that, no need to inject anything into the DOM anymore. Only query for the presence of a passive html tag in the page, like I described above.

[2018-10-31 18:54] sharafian commented on #488
It adds more dependencies to the standard, though, which I think is the most important part to keep simple if we want to make it into a web standard. Right now the Web Monetization API is purely a Javascript API, and it only includes STREAM, not SPSP (The payment pointer functionality is written on top)

If sending to a payment pointer turns out to be the only use case then maybe it would make sen

[2018-10-31 20:34] justmoon commented on #487
@emschwartz Made you an owner and invited @kincaidoneil!

[2018-11-01 09:04] michielbdejong commented on #488
Interesting approach! So the reason you propose to use a JavaScript API instead of an html tag is that in the future a web page might interact with the donation process. It would need to do a server-side check of any information it gets from there (otherwise the user could just inject a cheating script into the page), but despite that, I can see it could be useful.

And teaching webmasters to incl

[2018-11-08 12:50] #445 closed

[2018-11-08 18:40] adrianhopebailie opened #494 "Include CC-BY-SA badge in templates"
Related to: https://github.com/interledger/rfcs/pull/492

We should include a the CC-BY-SA badge in the document templates.

[2018-11-08 18:45] #473 closed

[2018-11-08 20:45] mDuo13 commented on #494
I think it's fine to switch. Maybe make a note of the date we changed it in the contributing or license file (to respect anyone who used it under the prior license).

[2018-11-09 01:59] tnir commented on #473
Thanks for addressing this 🙇

[2018-11-09 05:33] sappenin commented on #433
Bumping to keep this open a bit longer...

[2018-11-09 05:34] sappenin commented on #480
Bumping to keep this open a bit longer...

[2018-11-16 12:03] adrianhopebailie commented on #433
As discussed on the community call on Wed 14 November there are some concerns about the protocol currently implemented in `moneyd-gui` and `ilp-connector`.

@emschwartz and @sappenin please feel free to expand on this.
@justmoon and @sharafian your input also welcome as the implementors of these two componenets.

The high level flow for that protocol is as follows:
Assuming Alice (ILP Address: `g.

[2018-11-16 12:07] justmoon commented on #433
Just going to leave this here: #232

That was a PR to add an RFC for the ping protocol, although that PR describes an earlier version of the protocol, so @adrianhopebailie's description is more accurate/up-to-date. Still anyone working on docs for the ping protocol may find it useful to read this for context.

[2018-11-16 13:16] adrianhopebailie opened #496 "Formalize the use of the `peer.` address space (define some addressing best practice)"
We have started to use `peer.` addresses for various peer protocols.

Let's use this thread to capture some ideas on formalizing this and then we can update the address spec if necessary. IL-RFC 15 currently defines this address space as:

One of the great features of the ILP address space is the extensible nature and (almost) infinite sub-addressing that is possible. This means we can do convenie

[2018-11-16 16:12] emschwartz commented on #433
@justmoon Are you worried about this being used in DDoS attacks at all? Because the source address isn't authenticated or checked at all, an attacker could get a lot of other nodes on the network to simultaneously send packets to a single target. The amount of data they'd be sending isn't that big so there wouldn't be the amplification problem, but it still seems potentially problematic.

One argu

[2018-11-19 08:37] khoslaventures opened #497 "RFC-0033: Diagrams should be more connected to explanations"
In [RFC-0033](https://github.com/interledger/rfcs/blob/master/0033-relationship-between-protocols/0033-relationship-between-protocols.md) it's hard to follow the diagram and explanations. While it looks ok as a document, the experience scrolling back between the visuals and the explanations is really hard for keeping track of stuff as a newcomer. Rediagramming this out on paper was the only way fo

[2018-11-22 18:37] #389 closed

[2018-11-22 18:37] #390 closed

[2018-11-22 18:38] #381 closed

[2018-11-22 18:38] #393 closed

[2018-11-27 21:51] emschwartz opened #499 "Delegated / pull payments"
Sort of a continuation of https://github.com/interledger/rfcs/issues/156

**Use cases**
1. Authorizing apps/services to send from your account balance
2. (e)Commerce and integrating with the W3C Web Payments API
3. Subscriptions

**Token options**
- [Macaroons](https://ai.google/research/pubs/pub41892)
- [JWTs](https://jwt.io/)
- Opaque random values

**Protocols to build the token authentication

[2018-11-28 17:33] rhuairahrighairidh commented on #499
Am I thinking of the flow correctly? here’s an example walk through:
 - A gives B a token, allowing B to pull $5 from A.
 - This token contains a btp url (`wss+btp://…...`)
 - B instantiates and connects a btp client plugin to the url. The connector assigns that account a alance of -$5. Now B sends ilp packets through that connection onto any ilp address it wants to. It does this until the balance

[2018-11-28 17:38] emschwartz commented on #499
That's the correct flow.

The advantage of doing this as part of BTP instead of SPSP is that B can send money to any address on ILP instead of just pulling money to its own account. If we implement the tokens as a way to authenticate for SPSP and get a STREAM connection through which A's provider will push money to B, all the money is going to B. If B wants to send to other people, that would be a

[2018-11-28 20:12] sharafian commented on #499
I would strongly advocate for SPSP based pull payments.

### Code difficulty

If we wanted to re-use connector code we'd need to dynamically create a plugin for every subscription. You could alternatively keep a database with the states of all your subscriptions and then create a multi-plugin that wraps that but I'd argue that's no simpler than writing a stateful SPSP server.

### Forwarding pull

[2018-11-28 20:46] emschwartz commented on #499
This is just `ilp-plugin-mini-accounts` with slightly different balance logic to track different tokens

I don't think it does. I doubt we're going to get rid of BTP any time soon, even if we wanted to. Any additional protocols used will be in addition to BTP rather than instead of.

You would do this with dedicated connectors, just like you'd have dedicated infrastructure for the SPSP servers des

[2018-11-28 21:55] sharafian commented on #499
I agree, but my point is I don't think it's any harder to upgrade an ILP mini accounts with balance logic than it is to upgrade an SPSP server with balance logic.

Fair enough, although you may run into issues in the browser where some websocket features are missing (like setting headers). That can come up for SPSP as well, though, mostly in the context of CORS.

It gives the ILP infrastructure mu

[2018-11-29 00:31] #486 closed

[2018-11-29 21:51] emschwartz commented on #499
Right now, the connector and plugins are assumed to be connected to a database and passed a `store`. The SPSP server is currently stateless (with the exception of the ongoing stream connections held in memory).

AFAIK no special features are needed by BTP.

What are the multiple concerns? Connectors manage multiple client connections and track balances and/or bandwidth for each account. Unless eve

[2018-11-29 22:14] kincaidoneil commented on #499
I'm keen on a protocol to replace BTP, but I'm unclear on how this proposal is tied to any specific transport. Whether we're using BTP, gRPC, or something else entirely, couldn't we still maintain an authentication mechanism for each that uses the same auth token/macaroon format to pull from some balance?

Since we're moving in the direction of dynamically instantiating accounts on the connector a

[2018-11-30 00:37] sharafian commented on #499
The typical connector right now has no persistence built in; for example, moneyd has no persistence and Coil's connectors also don't make use of the connector's store functionality. The challenge of getting persistence is more related to infrastructure, while the code to connect to persistence is trivial.

The only connectors that manage client connections are ILSPs. If you're writing an applicati

[2018-12-03 02:42] adrianhopebailie commented on #496
Related to #484 I suggest we can do away with the special `Transfer` message type and simply use an ILP prepare packet addressed to `peer.settlement'.

As previously suggested by @sappenin we have a mix of peer-to-peer messages using `peer.*` addressed ILP packets and transport layer sub-protocols.

In looking at designs for a new, faster simpler alternative to BTP it seems simplifying the transpo

[2018-12-03 02:44] adrianhopebailie commented on #496
Building on this, it would be trivial to switch BTP implementations to do an auth handshake using ILP packets addressed to `peer.auth`.

This should only be needed if the underlying transport is no already considered authenticated.

[2018-12-03 09:41] michielbdejong commented on #488
I think @sharafian did a good job at explaining why his system correctly does what it was designed to do.

It's not desirable to have a simpler system alongside Ben's one within this same rfcs repo, so let's stick to the current situation and close this ticket.

In general, to achieve web monetization, I still think passive html tags are better than code injection, but we can continue the discussi

[2018-12-03 09:41] #488 closed

[2018-12-03 12:58] kincaidoneil commented on #496
Would this do away with the BTP packet format entirely and just use HTTP for request-response correlation, per https://github.com/emschwartz/ilp-rs/issues/26? (at least between connectors)

[2018-12-03 13:48] adrianhopebailie commented on #496
It would mean you COULD do that. Whatever protocol you use to exchange ILP packets could assume that it ONLY exchanges ILP packets which significantly simplifies the protocol.

I think HTTP may still be too much overhead for some use cases but it would mean you could use a simpler TCP/UDP/WebSockets based protocol too

[2018-12-03 16:42] emschwartz commented on #496
I'm not a fan of the idea of using ILP packets to send settlement-related messages like payment channel claims. ILP is built on your ability to settle, rather than settlements being built on ILP.

I think the idea behind using ILP packets for ILDCP and route broadcasts is that you might want those to be paid for using ILP. With settlements, you're doing the opposite of paying for those messages (b

[2018-12-03 19:15] adrianhopebailie commented on #496
The purpose of the messages isn't really relevant. What is relevant is which subsystems are producing and handling them.

It makes as much sense to have a settlement subsystem as it does to have an ILDCP subsystem.

ILP makes no assumptions about you ability to settle. Settlements are a bilateral concern.

Anything sent in `peer.*` addressed packets is, by definition, not built on ILP because thos

[2018-12-03 21:19] kincaidoneil commented on #496
What are the opinions on using protobufs for settlement-related messages? How does the performance of protobufs compare to ILP packet or BTP + ILP packet serialization? (e.g. if plugins defined their own ledger-specific gRPC services. I'm thinking along the lines of https://github.com/interledgerjs/ilp-transport-grpc, but without any standardized framing)

How does the overhead of HTTP/2 streaming

[2018-12-04 18:31] sappenin commented on #496
This doesn't specifically address HTTP/2 vs Websockets messages, but I've noticed a lot of redundant encoding/decoding while using ILP+BTP+GRPC.

I think if gRPC is going to be employed at the bilateral layer, we'll want to explore representing ILP packet data natively in protobuf as opposed to trying to encode an ILP packet inside of a BTP packet inside of a [ByteString](https://developers.google

[2018-12-04 18:41] adrianhopebailie commented on #496
I think that is something that is outside the scope of what we need to standardize. Part of the motivation for this change is that the standard is simpler. i.e. Just exchange ILP packets.

If you want to exchange bilateral messages in a different way for other functions (e.g. settlement) you can but that would mean you need to get others to implement that too to be interoperable.

E.g. You could d

[2018-12-06 09:44] #484 closed

[2018-12-06 09:44] #391 closed

[2018-12-06 21:58] sharafian commented on #496
I don't see why gRPC deserialization would be faster than deserializing an ILP packet. They've probably spent more time fine-tuning their code but protobufs are almost certainly a more complicated format than our OER packets.

Switching websockets to something faster, though, sounds totally reasonable.

[2018-12-13 14:41] sappenin commented on #432
Re-opening so we keep working on #455

[2018-12-13 14:57] sappenin commented on #433
One observation I've had about what we call "ILP Ping" is that it seems to be designed to be analagous to the [Ping](https://en.wikipedia.org/wiki/Ping_(networking_utility)) we all know and love.

What's interesting here is it that while _that_ protocol (ICMP Ping) employs a "ping" and a "pong" packet, this seems to be more of a result of using ICMP more than anything else (in other words, the ICM

[2018-12-14 16:10] kincaidoneil commented on #499
After some thought, I think "caveat limited" auth tokens at the BTP layer might have other useful applications as well. (Evan may have already alluded to this)

One issue I've had with the concept of running a local moneyd instance is that there currently isn't any model for authorizing applications/websites on an individual basis, other than carte-blanche blocking certain origins. BTP-based pull

[2018-12-15 21:34] #494 closed

[2018-12-17 18:47] sharafian commented on #499
That's a good idea; it's definitely more elegant with BTP than SPSP for that particular use case.

I would argue, though, that it's more applicable to infrastructure than it is for normal users. Maybe one of your services needs access to the twilio API (or rather a future ILP-enabled equivalent), so you allocate it some bandwidth. If the component goes haywire it can't eat up all of your money.

I

[2018-12-18 17:10] adrianhopebailie commented on #499
I think both an SPSP-initiated pull and delegation-based models are useful for different use cases.

Delegated access to the source of funds is definitely the general trend in the industry. In fact, even card payments are moving more and more to a delegated model where the issuer does a lot of checks to ensure the payer has authorized the payment.

Something to remember is that for "pull-like" pay

[2018-12-20 21:45] emschwartz commented on #499
Good points @kincaidoneil, @sharafian, @adrianhopebailie. I agree that delegated and pull payments are for different use cases, and that we probably want both. I think we can probably use the same token format, just to save on implementation complexity, though I also think the merchant/app that uses the token should treat them as opaque so it's just an implementation detail rather than a protocol

[2018-12-21 00:54] sharafian commented on #499
The considerations for all of these will be different between the more 'raw' style of delegating payment permissions to an application and the more narrowly scoped situation of a merchant making pull payments from a wallet.

For the merchant pull-payment scenario, non-expiring tokens are important. It introduces a lot of friction to the user and a lot of churn to the merchant if the user needs to

[2018-12-21 01:09] emschwartz commented on #499
I don't think there's any more disagreement about that -- or at least I'm on board with that!

I'm embarrassed I didn't suggest doing that first :man_facepalming: :+1:

Agreed on balance vs bandwidth

[2018-12-21 21:02] adrianhopebailie commented on #499
But the majority of users will not host this themselves. Whether it's an SPSP server or an interface for delegated access to an account on a connector *we need to design for at least two different participants on the payer side* in most cases.

The first is the actual payer who authorises a single payment or a subscription. The token represents this authorisation so, as with many payment systems t

[2018-12-21 21:05] adrianhopebailie commented on #499
On this basis I propose that the design of the token is actually critical for interoperability. Using an ID and then trying to move to something else like Macaroons or JWT later will be hard.

[2018-12-21 21:06] adrianhopebailie commented on #499
Some prior art to look at: https://openid.net/wg/fapi/

[2018-12-21 22:11] sharafian commented on #499
Does the payer hold the key or does their wallet hold the key? Introducing key management to this scheme could make things complicated for the user, but if the wallet were to hold the keys that sign the token it no longer proves anything.

Is the idea to prove to the wallet that the payer has authorized this token, or is it for the wallet to prove to 3rd parties that their client authorized the pu

[2018-12-21 22:15] emschwartz commented on #499
Since both BTP and SPSP (effectively) use URI-based identifiers, I was imagining it could be as simple as I give you a string in the form `btp+wss://:mysecretauthtoken@connector.example` or `$evan.provider.example/mysecretauthtoken`. The merchant / user of the token would connect to that string in the normal fashion, and it would just work. The details of how `mysecretauthtoken` is generated and c

[2018-12-26 11:41] #497 closed

[2019-01-03 10:59] adrianhopebailie commented on #499
Depends what you mean by "wallet". In existing schemes the keys are held either in the chip of the payer's card or in a secure element on their mobile.

If by "wallet" you are talking about the account provider (the second stakeholder in my example) then you gain nothing by them holding the key (as you have pointed out).

Both. The former is important for security but the main purpose of this sepa

[2019-01-03 17:59] ekrenzke commented on #499
I am having trouble understanding why you would want non-expiring tokens with the _possible_ exception of streaming services, but only for ease of use. Even then, I think it is more suitable to choose an exaggerated expiry time instead. Authorization tokens with expiry provide incentive for the merchant to "spend" the token as fast (or slow) as the payer permits. Without expiry, the payer is only

[2019-01-03 20:08] adrianhopebailie commented on #499
Agree. Not having a time bound on an authorised future payment is very difficult to account for as the payer. Ask any business that issues vouchers how that adds complexity to their bookkeeping, especially if the vouchers have no expiry.

[2019-01-04 00:31] sharafian commented on #499
I'm thinking about expiry-less tokens in the context of a recurring payment, i.e. a voucher that "refills" every month. As a user I don't want to have an expiration date that makes me re-subscribe to some service just because they need a new auth token.

In the context of a single-use pull payment, like a retail payment, I agree that it should have some reasonable expiry. Also keep in mind that a

[2019-01-04 03:16] ekrenzke commented on #499
That is true, and I think if `expiry` is included in the token design, this should be emphasized in the API docs. I already see this being a huge gotchya for implementers if we go forward with it.

Just for clarity: are you referring to the recurring payment scenario where payments are streamed per-usage (e.g. Codius/AWS Lambda), or the subscription model (Netflix/Wolfram Alpha)? From what I have

[2019-01-04 08:40] adrianhopebailie commented on #499
What if a recurring payment is authorised because it is a repayment on a loan? Surely that means there is a legal obligation on the payer to honor the token?

As far as I know OAuth tokens always expire and there is a process for relying parties to request a new token with an extended expiry that doesn't always require the subject to authorize the new token. I assume there is a good reason for thi

[2019-01-04 08:42] adrianhopebailie commented on #499
I would suggest that anyone working on the design of recurring payment meta-data look at some of the history of the iCal standard and other standards that have already tried to tackle modelling this data.

Let's not re-invent the wheel or relearn a lot of old lessons.

[2019-01-14 22:09] sabinebertram commented on #499
I updated my pull request #501, drawing inspiration from how [Paypal do subscriptions](https://developer.paypal.com/docs/subscriptions/integrate/integrate-steps/#). It is quite similar to what @ekrenzke proposed but adds a few more details.
I believe for wallets' display purposes it is very useful to have all of this information included in SPSP.

[2019-02-09 18:48] sappenin opened #506 "Cleanup naming of RFC 0000"
Currently, [RFC-0000](https://github.com/interledger/rfcs/blob/master/0000-node-requirements/0000-node-requirements.md) is called "Node Requirements" but the RFC text says "Connector Requirements". This should be cleaned up. Also, shouldn't this RFC have a number other than 0000?

[2019-02-09 19:03] sappenin opened #507 "Rename RFC-0014 to "0014-paid-http-apis""
[RFC-0014](https://github.com/interledger/rfcs/blob/master/0014-http-ilp/0014-http-ilp.md) is currently called "Http ILP", but this doesn't really describe what this RFC is about, and will likely cause confusion when [ILP over HTTP](https://github.com/interledger/rfcs/pull/504) is merged.

Instead, we should rename this RFC to "**Paid HTTP APIs**" and rename the folder structure to be `0014-paid-h

[2019-02-11 18:33] #480 closed

[2019-02-11 18:33] #481 closed

[2019-02-11 21:27] #506 closed

[2019-02-12 15:26] adrianhopebailie commented on #365
Stale

[2019-02-12 15:26] #365 closed

[2019-02-15 06:25] #507 closed

[2019-02-20 23:04] #499 closed

[2019-02-20 23:05] emschwartz commented on #499
This discussion was continued in https://forum.interledger.org/t/pull-payments/58

[2019-02-28 04:40] sappenin commented on #496
Re-opening this because I don’t think the discussion ever came to a conclusion - specifically, is there anything we need to standardize here? For example, my Connector implementation currently supports ‘peer.config’, ‘peer.route’ (and eventually ‘peer.settle’) but it seems like IL-RFC-15 already specifies the purpose of the ‘peer.’ allocation scheme - so, is it fair to say that each of the specifi

[2019-02-28 06:53] adrianhopebailie commented on #496
I agree. We should probably do the following before we close this:

 - [ ] Ensure `peer.route` is defined in the PR that is documenting the routing protocol
 - [ ] Ensure `peer.config` is properly specified in the ILDCP spec
 - [ ] Document `peer.settle` (in progress as part of new connector implementation work)

[2019-02-28 06:54] adrianhopebailie commented on #496
Also, it is common for a registry to exist that keeps track of these somewhere. should that be IL-RFC 15?

[2019-02-28 07:55] adrianhopebailie commented on #392
This issue was moved to https://forum.interledger.org/t/how-does-an-spsp-client-verify-they-are-communicating-with-the-intended-spsp-server/282

[2019-02-28 07:55] #392 closed

[2019-02-28 07:55] adrianhopebailie commented on #433
This issue was moved to https://forum.interledger.org/t/document-the-ping-protocol/279

[2019-02-28 07:55] #433 closed

[2019-02-28 07:55] adrianhopebailie commented on #496
This issue was moved to https://forum.interledger.org/t/formalize-the-use-of-the-peer-address-space-define-some-addressing-best-practice/280

[2019-02-28 07:55] #496 closed

[2019-03-06 08:30] matdehaast opened #517 "RFC0035: Request header for Host not defined"
In the new RFC for [ilp-over-http](https://github.com/interledger/rfcs/blob/master/0035-ilp-over-http/0035-ilp-over-http.md) a Host field is defined in the headers for a request. This field has no description of what it refers to. Is Host the sender/receiver/destination?

[2019-03-06 14:55] #517 closed

[2019-06-30 20:38] kincaidoneil opened #537 "Change description of F04 error?"
In the ILPv4 spec, the description of an F04, "Insufficient Destination Amount" error is:

But this example doesn't make sense, since it's discouraged to pay an entire invoice with a single packet.

I propose a slight tweak to the description that I think might make the error more useful:

Thoughts?

[2019-07-10 08:09] adrianhopebailie commented on #537
cc @emschwartz @justmoon

[2019-07-10 13:16] emschwartz commented on #537
Works for me

[2019-07-11 06:18] sublimator opened #538 "docs(0028): add CORS info"
From @sharafian

[2019-07-15 10:47] sublimator opened #540 "0028: dynamic meta tags security issues"
@adrianhopebailie foresees some security issues with the way we are monitoring for dynamically injected meta tags.

[2019-07-15 16:35] traviscrist commented on #540
Are there more details to this that can be captured in this issue so others know what the security issues are?

[2019-07-15 21:55] adrianhopebailie commented on #540
I have a suspicion that we are not immune from another extension modifying the Payment Pointers on a site before we process the tags.

This is an issue to track this discussion but @sublimator and I agreed we need some expert opinion from browsers on how to do SPA's safely

[2019-07-16 01:45] sublimator commented on #540
Essentially any 3rd party code, so currently the model is, 'beware of what scripts you pull in' as an integrator and 'be careful what extensions you install' as an end user. The store review/rating process can help with the latter, but of course ...

[2019-07-21 07:41] sublimator commented on #540
Another point worth capturing here is that even before the observation of meta tags change, there was  **seemingly** no real way of knowing from a polyfill (extension or script injected) whether the tags were from an SSL served static html document.

[2019-07-21 08:14] sublimator commented on #540
Beyond of course, re-requesting the document, with all the complications
that would involve.

[2019-08-06 06:14] sublimator commented on #540
And of course, it shares these issues with previous imperative `donate(...)` and `monetize(...)` apis.

[2019-08-08 15:34] sappenin commented on #537
@kincaidoneil does #541 do what you were thinking?

[2019-08-14 08:24] kukgini opened #542 "0027 refers to spec 0025 which is deprecated."
0027-interledger-protocol-4 refers to 0025-pre-shared-key-2 which is deprecated.

https://github.com/interledger/rfcs/blob/master/0027-interledger-protocol-4/0027-interledger-protocol-4.md#relation-to-other-protocols

[2019-08-14 08:39] #537 closed

[2019-08-17 07:40] #538 closed

[2019-08-21 09:00] #542 closed

[2019-09-12 06:40] #540 closed

[2019-09-25 21:27] theotherian opened #546 "STREAM RFC: codify the conditions for a ConnectionAssetDetails frame being returned from a receiver."
**Information that inspired this issue:**

- https://github.com/interledgerjs/ilp-protocol-stream/pull/69
- Discussion on https://github.com/interledger-rs/interledger-rs/issues/273
- Discussion on https://github.com/hyperledger/quilt/issues/261

Proposal:
STREAM RFC (il-rfc29) should codify the conditions for a `ConnectionAssetDetails` frame being returned from a receiver.

Question: What is the

[2019-10-08 22:09] adrianhopebailie commented on #546
@sappenin and @kincaidoneil https://github.com/interledgerjs/ilp-protocol-stream/issues/112 was never resolved, does it have any bearing on this?

[2019-10-09 03:24] kincaidoneil commented on #546
Not really, I think it just underscores that it's important for the sender and recipient to exchange asset details, so we should support that for stateless receivers. AFAIK, David's PR should be fully compatible with the existing JS Stream implementation.

[2019-10-09 14:45] sappenin opened #554 "Tracking: RFC Breaking Changes for STREAM V2"
This ticket is meant to track various proposals related to a potential STREAM V2. The reason we're not making breaking changes in STREAM v1 is that there are already implementations in the wild that use V1, and we don't want to break them or force people to update software.

So, let's use this ticket to catalog any improvements to STREAM that we might want to include in the next version.

* Fix En

[2019-10-09 17:03] kincaidoneil commented on #554
Can't we resolve this now without a breaking change? Alternatively, if this should be at a higher layer, could we also address this now in a backwards-compatible way?

[2019-10-09 19:54] sappenin commented on #554
Possibly, but not in this ticket. This is just a tracking ticket for the day, perhaps very far into the future, that we decide to work on STREAM v2. For now, this is basically where we can track things that _probably should_ be fixed, but for which we lack enough knowledge to make a good decision....or, for which the cost of fixing existing implementations is large enough that we don't want to mak

[2019-10-23 16:33] #546 closed

[2019-10-30 16:43] sappenin opened #562 "Create PR for the README to propose new Spec process"
Let's revise this project's README to describe a new process for submitting RFCs, per our discussion on the ILP community call this morning.

The idea is that it should be easy for anyone to propose a new RFC and reasonably easy for it to be added to a "proposals" folder (or something similar that indicates the same intent) in this project.  From there, RFC improvement and community consensus can

[2019-11-06 12:10] adrianhopebailie opened #563 "Expiry on STREAM credentials"
There is currently no way to explicitly "expire" a set of STREAM credentials (the ILP Address and Shared Secret that the client uses to connect to the server).

This is a problem because technically they need to then be valid indefinitely which makes accounting for payments against specific connections difficult to do.

The simplest way to solve this seems to be simply adding an error code that th

[2019-11-06 15:48] emschwartz commented on #563
Why isn't this part of the application layer protocol? It seems like expiry might be important for some applications while not for others.

[2019-11-06 16:43] sharafian commented on #563
Currently Web Monetization never reuses STREAM credentials. Right now we expect them to always expire after one use, and you _could_ set a cache control header to keep them around for longer

[2019-11-06 18:34] adrianhopebailie commented on #563
It is. But that means it needs to know that a connection can be closed and not re-opened at the transport layer.

But that assumption is not enforced at the transport protocol layer. If a client starts sending on a connection that the server considers closed what should happen?

[2019-11-10 00:53] sappenin commented on #554
Bump

[2019-12-05 21:20] sappenin commented on #562
This is complete per https://github.com/interledger/rfcs/pull/565

[2019-12-05 21:20] #562 closed

[2019-12-07 00:11] sappenin opened #566 "Submit Ping Protocol as an RFC Proposal"
Once #562 is merged, then submit a PR to re-introduce this proposal: https://github.com/interledger/rfcs/pull/516

[2019-12-09 14:10] adrianhopebailie commented on #563
@emschwartz @matdehaast @sappenin @sharafian any further feedback on this?

What is the correct behaviour of a STREAM receiver if it receives an incoming connection using old credentials?

What is the expected validity of credentials?

[2019-12-09 14:51] sappenin commented on #563
For security reasons, it seems best to treat `Credentials Expired` and `Invalid Credentials` as the same. In either case, the server shouldn't be using the credentials, so returning encrypted frames at all shouldn't be happening.

Return an ILPv4 `Reject` packet with an optional error message. The credentials are no longer valid, so the server shouldn't be using them.

[2019-12-11 15:53] emschwartz commented on #563
It seems like in order for this to be built into an application, you would need:
- A hook for the application protocol logic to catch incoming STREAM connections and decide whether to accept or reject them
- To decide on an error code to use in this case (since it's an application layer concern, `0x09 Application Error` seems like it would fit)
- Persistence for the STREAM connection details (some

[2019-12-12 22:28] sappenin commented on #563
The consensus from the ILP community call here is:

* The `F06` error-code at the STREAM/ILPv4 layer is sufficient for this use-case (i.e., no need to explicitly add something new to STREAM itself).
* The SPSP response could return the credentials expiry to aid the sender in knowing how long credentials should live.
* STREAM receiver implementations could encode the credential expiry into the ILP

[2019-12-13 09:52] adrianhopebailie commented on #563
Also, we need to do some experiments to see how this could/should be added to the interface from the app layer down to the STREAM implementation.

Some ideas:
 - The STREAM implementation has a default expiry so whenever the app asks for new credentials it knows they will expire in X minutes
 - The function to request credentials has a new optional param to express the expiry required
 - The retur

[2020-01-13 00:54] #566 closed

[2020-01-19 10:13] #563 closed

[2020-02-06 18:14] sharafian opened #568 "Add STREAM Receipts"
This is something we've been talking about at Coil as a solution to make payment verification easier. Looking for feedback especially from those maintaining STREAM implementations or working on Web Monetization use cases

This proposal is meant to supercede the [Open Payments features of Sources](https://github.com/adrianhopebailie/open-payments/issues/19)

CC @adrianhopebailie @wilsonianb @kincai

[2020-02-21 20:43] wilsonianb commented on #568
Could stateless receivers be supported by allowing an optional packet sequence number on the receipt?

Stateful receivers would exclude the packet sequence indicating that the amount is for the entire stream, and the amount would be tracked by Receipt's Nonce + Receipt's Stream Id (as described in the issue).

Stateless receivers would include the packet sequence indicating that the amount is stan

[2020-02-21 21:24] kincaidoneil commented on #568
Some questions I have:

- If the amount is in the destination asset, how does the verifier know the the recipient's asset details? Is this important?
- In the receipt model, once the payment reaches the verifier's threshold to provide the content, the sender will continue sending, paying out more than they need to. Is this a problem versus if the website controlled the STREAM sender?

The verifier

[2020-02-23 18:42] kincaidoneil opened #569 "Remove legacy ASN.1 definitions"
I noticed the link in the Interledger v4 RFC links to an "InterledgerPacket" ASN.1 file, which defines older types of packets. I think these files should be removed for clarity:

- `asn1/InterledgerPacket.asn`
- `asn1/InterledgerPaymentRequest.asn`
- `asn1/InterledgerQuotingProtocol.asn`
- `asn1/LegacyInterledgerProtocol.asn`
- `asn1/PreSharedKeyV2.asn`

Can these be safely deleted (and there'll s

[2020-02-27 17:22] wilsonianb commented on #568
:point_up_2: I opened a couple draft pr's for reference.

Assuming the verifier is proxying SPSP queries, they already need to know the recient's payment pointer. The asset details could be provided to the verifier along with the payment pointer at initial setup, or perhaps open payments could allow the verifier to discover the asset details via the payment pointer.

Pooling paid amounts at the ve

[2020-02-27 21:30] sharafian commented on #568
Like Brandon said, the verified knows the payment pointer and they can do some things with that. Probing the receiver via STREAM to discover exchange rate is one option, although it requires an ILP uplink. One could also cache rates for common currencies

This model where the site is a STREAM proxy is still available, it's just more infrastructure heavy. Running ILP infra yourself will provide the

[2020-03-01 04:50] sappenin commented on #569
I think everything in that list can be deleted except [InterledgerPacket.asn](https://github.com/interledger/rfcs/blob/master/asn1/InterledgerPacket.asn#L49). That still defines the current ILPv4 packet types (12, 13, and 14).

I think we could probably get rid of this [Liquidity Curve](https://github.com/interledger/rfcs/blob/master/asn1/InterledgerTypes.asn#L74) section, though.

[2020-04-17 00:30] sappenin opened #571 "Add ConnectionAssetDetailsRequestFrame"
Currently all stateless STREAM receiver implementations ([Java](https://github.com/hyperledger/quilt/blob/master/stream-parent/stream-receiver/src/main/java/org/interledger/stream/receiver/StatelessStreamReceiver.java#L131), [Rust](https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-stream/src/server.rs#L264)) rely upon a hack to trigger themselves to send a `Connection

[2020-04-17 14:32] sappenin commented on #571
I figured out a way to overcome this problem in code.

The sender will always send a `ConnectionNewAddress` frame in order to trigger the `ConnectionAssetDetails`, but in the case where the caller doesn't supply a sourceAddress, the SimpleStreamSender, will prepend the Link operator address with the `private` prefix. This should signal to receiver's that the address is not routable, but will also

[2020-04-17 14:32] #571 closed

[2020-04-25 21:16] sappenin commented on #568
Closed via https://github.com/interledger/rfcs/pull/570

[2020-04-25 21:16] #568 closed

[2020-05-15 15:58] sappenin commented on #569
@kincaidoneil are you going to make the changes suggested above, or should we close this one?

[2020-06-12 07:35] #554 closed

[2020-07-22 23:31] sappenin commented on #569
@kincaidoneil are you going to make the changes suggested above, or should we close this one?

[2020-07-29 13:16] kincaidoneil commented on #569
@sappenin At last... [here's that PR](https://github.com/interledger/rfcs/pull/579)!

[2020-08-26 13:56] #569 closed

[2021-04-04 22:04] Detetivepro1 opened #580 "livres"
livres para decodificar

[2021-11-30 21:56] AlexLakatos opened #581 "Enforce Boolean on SPSP receipts_enabled"
Explicitly define in the spec what happens if it's truthy or falsey. i.e empty string.

[2021-11-30 21:58] AlexLakatos opened #582 "Add Validation mechanism for SPSP"
receipts_enabled
shared_secret
destination_account

From @marcoscaceres: Would be nice if the SPSP has an algorithm to hook directly into for validation. And it returned true or false. So... "perform simple payment validation", which takes a json object.

[2021-12-02 06:47] sublimator commented on #582
Have been thinking along those lines myself.
But true/false seems less leaky than returning a balance (having said that you probably already know this anyway, from the receipt you have)

Would this require some kind of PKI ? The SPSP endpoint would need a lot more state.

With the current receipt model, backends integrating WM need to make requests to some receipt verifier upon each packet to "ver